body {
    margin: 0;
}

body div {
    margin:0;
}

#responsive-home-title {
    display: none;
}

nav {
    background-color: white;
    width: 100%;
    box-shadow: 0 3px 3px grey;
    top:0;
    position: sticky;
    z-index: 100;
}

nav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-left: 1em;
    padding-right:1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-weight: 900;
}

nav a:hover {
    background-color: lightgray;
}

#right {
    float: right;
}

#right:hover {
    color: white;
    background-color: red;
}

#responsive {
    display:none;
}

#home {
    height: 94vh;
    opacity: 0.7;
    position: relative;
    background-image: url("images/parallax1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    #home p {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin:0;
        padding: 0.5em 1em 0.5em 1em;
        font-size: 26px;
        color: white;
        background-color: black;
        letter-spacing: 5px;

    }

#about {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 4em;

}

    #about h2, #about > p, #p-with-img {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        max-width: 1100px;
        color: gray;
        line-height: 1.6;
    }

#p-with-img img {
    padding-top: 1em;
    width: 47%;
    padding-right: 1%;
    padding-left: 1%;
    opacity: 0.6;
}

    #p-with-img img:hover {
        opacity: 1;
    }

    #p-with-img p {
        display: inline-block;
        width: 49%;
        float: right;
    }

#good-at-bars {
    margin-top: 2em;
}

.bars-title {
    font-size: 22px;
    text-align: center;
    color: gray;

}

.bar-sub-title, .base-bar {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}

.base-bar {
    margin-top: 1.2em;
 
    background-color: #d9d9d9;
}

.bar-sub-title {
    letter-spacing: 10px;
    margin-bottom: 0;
}

#photography-bar, #web-bar, #photoshop-bar {
    background-color: #666666;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: white;
    text-align: center;
}

#photography-bar {
    width: 90%;
}

#web-bar {
    width: 85%;
}

#photoshop-bar {
    width: 75%;
}

#stat-section {
    display: flex;
    margin-top: 60px;
}

.stat {
    width: 25%;
    text-align: center;
    color: white;
    background-color: #666666;
    font-size: 25px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.stat p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#portfolio-content {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 1100px;
}

#portfolio-title {
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 40px;
    background-image: url("images/parallax2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    opacity: 0.75;
    letter-spacing: 10px;
}

    #portfolio-title span {
        color: white !important;
    }

#portfolio-content > h2, #portfolio-content > p {
    text-align: center;
    color: gray;
}

    #portfolio-content > h2 {
        padding-top: 2em;
        font-size: 25px;
    }

#portfolio-content img {
    width: 23.5%;
    margin-bottom: 1%;
    opacity: 1;
}

    #portfolio-content img:hover {
        opacity: 0.75;
    }

#portfolio-content button {
    display: block;
    border: none;
    font-size: 16px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

    #portfolio-content button:hover {
        background-color: gray;
        cursor: pointer;
    }

    .inside-img {
        margin-right: 1%;
    }

#contact {
    margin-top: 4em;
    color: gray;
}

#contact-title {
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 40px;
    background-image: url("images/parallax3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    opacity: 0.75;
    letter-spacing: 10px;
    color: white;
    margin-bottom: 2em;
}

#contact > h2, #contact > p {
    width: max-content;
    margin-left:auto;
    margin-right:auto;
    width: max-content;
    color: gray;
}

#contact-body {
    max-width: 1000px;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

#contact-form {
    display: inline-block;
    font-size: 20px;
    width: 65%;
}

#contact-form ul {
    list-style: none;
    padding-left: 0;
}

.small-icon {
    width: 20px;
}

#contact img {
    width: 30%;
    margin-right: 3%;
    margin-left: 2%;
    max-height: 200px;
    float: left;
}

#short-input {
    display: flex;
    
    width: 100%;
}

#name {
    margin-right: 3%;
}

#name, #email {
    width: 46%;
    padding-left: 0.6em;
    font-size: 16px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

#long-input {
    width: 100%;
    display: flex;
}

#message {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    padding-left: 0.6em;
    font-size: 16px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

#contact-body button {
    float: right;
    border: none;
    background-color: black;
    color: white;
    padding: 1em;
}

#footer {
    background-color: darkgray;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  
}

#footer button {
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    padding: 1em;
    align-self: center;
    color: gray;
}

#footer:hover {
    background-color: black;
}

#footer:hover button {
    color: black;
}

@media only screen and (max-width: 700px) {
    .full-screen {
        display: none;
    }

    #responsive {
        display: inline-block;
        float: right;
    }

    #home-title {
        display: none;
    }

    #responsive-home-title {
        display: block;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    #about h2, #about p, #about img {
        margin-left: auto;
        margin-right: auto;
    } 

    #p-with-img {
        display: flex;
        flex-direction: column;
    }
    
  

    #p-with-img > img, #about p, .base-bar {
        width: 90%;
        display: block;
        padding: 0;
    }

    #stat-section {
        padding-left: 0;
        padding-right: 0;
    }

    #stat-section {
        flex-direction: column;
    }

    .stat {
        width: 100%;
    }

    #showcase {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    #showcase img {
        width: 100%;
    }

    #contact-body {
        display: flex;
        flex-direction: column;
    }

    #contact-body img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #contact-form {
        margin-left: auto;
        margin-right: auto;
    }

    #footer {
        margin-top: 150px;
    }

    
} 