body {
    margin: 0;
    background-color: #f2f2f2;
}

#nav {
    width: 100%;
    background-color: #4d636f;
    display: flex;
}

#nav a {
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 0.6em;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

    #nav>a:hover, #notice:hover a {
        background-color: white;
        color: black;
    }

#notice a {
    height: 50%;
}

a p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
}

#small-profile {
    margin-left: auto;
}

#nav img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-bottom: 0;
    display: inline-block;
}

#notification {
    display:none;
    position: absolute;
    background-color: white;
    color: black;
}

#notice:hover #notification {
    display: block;
}

#notification p {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
}

    #notification p:hover {
        background-color: #bfbfbf;
        cursor: pointer;
    }

#notice-icon span {
    display: inline-block;
    margin-left: 1px;
    transform: translateY(-5px);
    padding-left: 8px;
    padding-right: 8px;
    background-color: red;
    border-radius: 90%;
}

#small-nav {
    display: none;
}

#main-body {
    display: grid;
    grid-template-columns:[first] 12% [line2] 18% [line3] 45% [line4] 10% [line5] 10% [end];
    margin-top: 20px;
    column-gap: 15px;
}

#left-col {
    grid-column-start: line2;
    grid-column-end: line3;
}

#mid-col {
    grid-column-start: line3;
    grid-column-end: line4;
}

#right-col {
    grid-column-start: line4;
    grid-column-end: line5;
}

.general-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px #d9d9d9;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}

#profile-section {
    padding-left: 0;
}

#profile-title {
    width: max-content;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 10%;
}

#profile-title > p {
    text-align:center;
}

#profile-title > img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: block;
}

#profile-content {
    border-top: 1px solid grey;
    margin-left: 15px;
    margin-right: 8%;
}

#profile-content ul {
    padding-left: 0;
    list-style:none;
    margin-bottom: 0;
    margin-top:0.3em;
    margin-bottom: 0.6em;
}

li > p {
    margin-left: 0.8em;
    display: inline-block;
    margin-bottom:0.3em;
}

#my-buttons-section {
    margin:0;
    padding:0;
}

    #my-buttons-section > ul {
        margin: 0;
        list-style: none;
        padding-left: 0;
        background-color: #4d636f;
        color:white;
    }

    #my-buttons-section > ul > li {
        padding-left: 15px;
    }

    li > i {
        width: 16px;
    }

    #my-buttons-section > ul > li > p {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
    }

#my-buttons-section > ul > li:hover {
    background-color: #b3b3b3;
    color: black;
    cursor: pointer;
}

#interest-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
}

#interest-section > h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}

    #interest-content > p {
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 3px;
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #4d636f;
        color: white;
    }

#greeting-section {
    background-color: #e1e7ea;
}
#greeting-section > p {
    margin-top:0;
    padding-right: 10px;
}

    @media only screen and (max-width: 700px) {
        #nav {
        display: none;
    }

    #small-nav {
        display: initial;
        width: 100%;
        background-color: #4d636f;
        display: flex;
        justify-content: space-between;
    }

    #small-nav a {
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 1em;
        padding-bottom: 0.6em;
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

        #small-nav a:hover {
            background-color: white;
            color: black;
        }



            
 

    
}

        

