body {
    margin:0;
    display: flex;
}

#nav-bar {
    position: sticky;
    height: 100vh;
    top: 0;
    border-right: 1px solid;
}

#nav-bar > p {
    width: 230px;
    padding-left: 30px;
    border-bottom: 1px solid;
}
