body {
    margin: 0;
}

#top-nav {
    display: flex;
    justify-content: flex-end;
    background-color: #e60000;
    top:0;
    position: sticky;
    z-index: 100;
}

    #top-nav > a {
        display: block;
        color: white;
        text-decoration: none;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 26px;
    }

    #top-nav > a:hover {
        background-color: gray;
    }

#about {
    margin-top: 0;
    background-color: #4d4d4d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#about > p {
    display: inline-block;
}

    #about > p:first-of-type {
        color: white;
        font-size: 60px;
        margin-bottom: 0;
        margin-top: 0.5em;
    }

    #about > p:last-of-type {
        margin-top: 0.5em;
        color: orangered;
        font-size: 40px;
    }