body {
    display: flex;
    flex-direction:column;
}



#header {
    display: flex;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 0;
    justify-content: space-between;
    position: sticky;
    z-index:100;
    top: 0;
    background-color: white;
}

#top-nav {
    width: 30%;
}
#top-nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-top: 0.4em;
    font-size: 16px;
    width: 100%;
    justify-content: space-around;
}

a {
    text-decoration:none;
    color: black;
}

#button {
    display:block;
}

#title, #form, #features, #how-it-works, #pricing, #footer, #start-button {
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-size: 24px;
    margin-bottom: 0.8em;
    font-weight: bold; 
}

form > input {
    margin-bottom: 1em;
    width: 220px;
    padding: 0.4em;
    
}

#start-button {
    background-color: yellow;
    font-size: 20px;
    padding: 5px;
    border: none;
    font-weight: bolder;
    margin-bottom: 4em;
}

#start-button:hover {
    background-color: orange;
    cursor:pointer;
}

#features {
    width: 90%;
}

#features > li {
    list-style: none;
    margin-left: 1em;
    display: flex;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between;
}

.content {
    width: 85%;

}

.feature-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.feature-description {
    margin-top: 0;
    margin-bottom: 4em;
}

i {
    color: orange;
}


@media screen and (max-width: 700px) {
    #top-nav-list {
        flex-direction:column;
    }

    #header {
        padding: 0;
    }

    #top-nav-list > li {
        font: 16px;
        padding: 0.3em;
    }
}

@media screen and (max-width: 500px) {
    #header {
        flex-direction:column;
    }

    #top-nav {
        
        margin-left: auto;
        margin-right: auto;
    }

    #logo {
        
        margin-left: auto;
        margin-right: auto;
    }

    #logo > img{
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .icon {
        display: none;
    }

    #features > li {
        width: 100%;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #features {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .feature-title {
        margin-left: auto;
        margin-right: auto;
        
    }

    
}

